.controls-popupDialog {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;

	z-index: 3;
}

.controls-popupDialog__layout {
	height: 100%;
	width: 100%;

	background-color: black;
	opacity: 0.3;
}

.controls-popupDialog__dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 84%;
	min-width: 200px;
	width: max-content;

	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	border-radius: var(--border_radius-m);
	display: flex;
	flex-direction: column;
	gap: 14px;

	text-align: center;

	z-index: 4;
	background-color: white;
}

.controls-popupDialog__buttons {
	margin-top: 14px;
	display: flex;
	justify-content: space-around;
}

.controls-popupDialog__closeButton {
	background-color: white;
	padding: 4px;
	border-radius: 100%;
	position: absolute;
	right: 4px;
	transform: translate(50%, -50%);
	top: 4px;
	color: var(--colors_main);
}
