.controls-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls-button-titleMode {
	color: var(--colors_white);
	background-color: var(--colors_main);
	border-radius: var(--border_radius-m);
}

.controls-button-iconMode {
	color: inherit;
}

.controls-button-w-full {
	width: 100%;
}

.controls-button-default-paddings {
	padding: 13px 5px;
}

.controls-button:disabled {
	background-color: var(--colors_unactive);
}

.controls-button:active:not(:disabled) {
	opacity: 0.92;
}
