.controls-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls-button_accent {
	background-color: var(--colors_accent);
}

.controls-button_common {
	background-color: var(--colors_main);
}

.controls-button-titleMode {
	color: var(--colors_white);
	border-radius: var(--border_radius-m);
}

.controls-button_bordered {
	border: 1px solid;
}

.controls-button-iconMode {
	color: inherit;
}

.controls-button-w-full {
	width: 100%;
}

.controls-button-default-paddings {
	padding: 13px 5px;
}

.controls-button:disabled {
	background-color: var(--colors_unactive);
}

.controls-button:active:not(:disabled) {
	opacity: 0.92;
}

/* Цветовые классы */
.controls-button_main {
	color: var(--colors_main);
}

.controls-button_error {
	color: var(--colors_error);
}

.controls-button_accent {
	color: var(--colors_accent);
}

.controls-button_white {
	color: var(--colors_white);
}

/* ---- */

.controls-button_mainBorder {
	border-color: var(--colors_main);
}

.controls-button_errorBorder {
	border-color: var(--colors_error);
}

.controls-button_accentBorder {
	border-color: var(--colors_accent);
}

.controls-button_whiteBorder {
	border-color: var(--colors_white);
}

/* ---- */

.controls-button_mainBackground {
	background-color: var(--colors_main);
}

.controls-button_errorBackground {
	background-color: var(--colors_error);
}

.controls-button_accentBackground {
	background-color: var(--colors_accent);
}

.controls-button_whiteBackground {
	background-color: var(--colors_white);
}
