.controls-button {
	font-weight: 500;
	background-color: var(--colors_main);
	color: var(--colors_white);
	border-radius: var(--border_radius-m);

	padding: 13px 5px;
	width: 100%;
}

.controls-button-l {
	font-size: 20px;
}

.controls-button:disabled {
	background-color: var(--colors_unactive);
}
