.controls-header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	background-color: var(--colors_sub_main);
	height: 64px;

	z-index: 2;

	display: flex;
	box-sizing: border-box;
	height: 64px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--colors_sub_main);
	color: var(--colors_white);
}

.controls-header__button {
	color: var(--colors_white);
}
