.reloadButton:focus {
	-webkit-animation: -webkit-rotate-reset-button 0.7s ease-out 1;
	animation: rotate-reset-button 0.7s ease-out 1;
}
.reloadButton:active {
	-webkit-animation: none;
	animation: none;
}

@keyframes rotate-reset-button {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes -webkit-rotate-reset-button {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
