.controls-textInput {
	display: flex;
	flex-direction: column;
}

.controls-textInput_valid {
	color: var(--colors_main);
}

.controls-textInput_invalid {
	color: var(--colors_error);
}

.controls-textInput__input {
	all: unset;

	border: 1px solid;
	border-radius: var(--border_radius-m);

	flex-grow: 1;

	padding: 9px 13px;
	background-color: white;
}

.controls-textInput__hint {
	display: flex;
	gap: 6px;
}

.controls-textInput__required {
	color: var(--colors_error);
}

.controls-textInput__input_uppercase {
	text-transform: uppercase;
}

.controls-textInput__input:disabled {
	color: var(--colors_unactive);
}
