.occupiedEmptyHint {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 45px;
}

.occupiedEmptyHint__title {
	/* width: 80%; */
	margin-top: 20px;
	text-align: center;
	color: var(--colors_main);
}

.occupiedEmptyHint__detail {
	/* width: 80%; */
	text-align: center;
	color: var(--colors_hint);
}
