.myGivenSpotCard {
	padding: 6px;
	border: 1px solid var(--colors_main);
	border-radius: var(--border_radius-m);

	min-height: 50px;

	position: relative;

	display: flex;
	align-items: center;
	color: var(--colors_main);
	box-sizing: border-box;
}

.myGivenSpotCard__actionButton {
	min-width: 90px;
}

.myGivenSpotCard__actionWrapper {
	background-color: white;
	position: absolute;
	right: 6px;
	/* height: 100%; */
	min-width: 90px;
	text-align: center;
	color: var(--colors_hint);
	line-height: 1.1;
	width: min-content;
	display: flex;
	align-items: center;
	box-shadow: -10px 0px 6px -2px white;
	opacity: 1;

	transition: 0.25s;
}

.myGivenSpotCard__actionWrapper_hidden {
	opacity: 0;
}

.myGivenSpotCard__title {
	flex-grow: 1;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}
