.controls-datepicker__headerDate {
	padding: 4px 0;
	flex-grow: 1;
	display: flex;
	gap: 6px;
	justify-content: center;
	align-items: baseline;
}

.controls-datepicker__header {
	padding: 4px 8px;

	color: var(--colors_main);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.controls-datepicker__buttonsBlock {
	display: flex;
	justify-content: stretch;
	width: 100%;
	flex-grow: 1;
}

.controls-datepicker__arrow {
	flex-grow: 0;
	background-color: transparent;
}

.controls-datepicker__arrow:disabled {
	background-color: transparent;
	color: var(--colors_unactive);
}

.controls-datepicker__arrow_reversed {
	transform: rotate(180deg);
}

.controls-datepicker__calendar .react-datepicker__header--custom {
	border-bottom: var(--border-standart);
}
