.loaderScreen {
	/* padding: 30vh 16px 0 16px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10vh;
	height: 100vh;
	overflow: hidden;
}

.loaderScreen__logo {
	/* flex-grow: 1; */
	max-width: 600px;
}

.loaderScreen__image {
	width: 90px;

	-webkit-animation-name: rotation;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: rotation;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0.25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-name: rotation;
	-o-animation-duration: 1s;
	-o-animation-delay: 0.25s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
	animation-name: rotation;
	animation-duration: 1s;
	animation-delay: 0.25s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotation {
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotation {
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes rotation {
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
