.authorizeScreen {
	padding: 64px 35px;

	display: flex;
	flex-direction: column;

	max-width: 1200px;
	margin: 0 auto;
}

.authorizeScreen__logo {
	margin-bottom: 60px;
	align-self: center;
}

.authorizeScreen__subScreen {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 10px;
}

.authorizeScreen__subScreen_hidden {
	display: none;
}

.authorizeScreen__separator {
	height: 1px;
	background-color: var(--colors_hint);
	margin-top: 14px;
	width: 80%;
	margin: 14px auto 0 auto;
}
