.adminParkingSpotCard {
	width: calc(50% - 10px);
	height: 70px;
	color: var(--colors_main);
	border: 2px solid var(--colors_main);
	border-radius: var(--border_radius-l);
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.adminParkingSpotCard__userIcon {
	position: absolute;
	bottom: 6px;
	right: 6px;
}
