:root {
	font-family: Montserrat, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;

	height: 100%;

	background-size: cover;
	background-position-x: center;
}

a {
	color: var(--colors_sub_main);
}

button {
	text-decoration: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	line-height: inherit;
	cursor: pointer;
}

input::placeholder {
	color: var(--colors_hint);
}

* {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

:root {
	--colors_main: #04456a;
	--colors_sub_main: #195777;
	--colors_accent: #369fd9;
	--colors_hint: #9c9c9c;
	--colors_error: #9c1212;
	--colors_unactive: #829dad;
	--colors_white: #ffffff;

	--border_radius-m: 8px;
	--border_radius-l: 16px;

	--border-standart: 1px solid var(--colors_main);
}

html {
	touch-action: manipulation;
	height: 100%;
}
